/*Vertical bar*/

.barra_icones {
    display: inline-block;
    background-color: orange;
    overflow: auto;
}

div.barra_icones a{
   float: left;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;/*para efeitos hover*/
    color: white;
    font-size: 36px;
}

div.barra_icones a:hover{
    background-color: white;
    color: orange;
}

div.barra_icones a.ativo {
    background-color: white;
    color: orange;
}